{
  "parser": "babel-eslint",
  "rules": {
    "semi": "off",
    "no-console": "warn",
    "no-alert": "warn",
    "no-unused-vars": "warn",
    "no-plusplus": "off",
    "no-underscore-dangle": [
      "error",
      { "allow": ["__REDUX_DEVTOOLS_EXTENSION_COMPOSE__"] }
    ],
    "max-len": ["error", 80],
    "vars-on-top": "off",
    "linebreak-style": "off",
    "prefer-destructuring": "off",
    "indent": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never",
        "js": "never",
        "jsx": "never"
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": ["prettier"],
  "extends": ["airbnb", "prettier"]
}
