@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;

  * {
    color: #000;
  }
}
.modal__container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 2em;
  overflow-y: auto;
  max-width: 850px;
  width: 100%;
  border-radius: 6px;
  background-color: #fff;
  max-height: 80vh;
  transform: translate(-50%, -50%);

  &.entering {
    animation: fade-modal-show 0.5s forwards;
  }
  &.exiting {
    animation: fade-modal-hide 0.5s forwards;
  }
  .button {
    padding: 9px 18px;
    align-self: flex-end;
    border-radius: 0;
    opacity: 0.5;
  }
  .button:hover {
    opacity: 1;
  }
}
@keyframes fade-modal-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-modal-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.modal__body {
  margin-bottom: 20px;
}
.modal__title {
  @include h3;
  margin-bottom: 25px;
}
.modal__subtitle {
  @include h3;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 20px;
}
.modal__text {
  @include big-text;
  margin: $margin-less-1200 0;
  font-weight: 400;

  &--yellow {
    color: $primary;
  }
}
.modal__small-text {
  margin: 10px 0;
  font-size: 12px;

  &--gray {
    &,
    & * {
      color: $secondary;
    }
  }
}
.modal__list {
  li {
    @include big-text;
    font-weight: 400;
  }
  li:not(:last-of-type) {
    margin-bottom: 1em;
  }
}

@media (max-width: 900px) {
  .modal__container {
    max-width: calc(100% - #{$padding-less-1200 * 2});
  }
  .modal__body {
    padding: $padding-less-1200;
  }
  .modal__small-text {
    font-size: 11px;
  }
}
