@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.categories {
  position: sticky;
  padding-bottom: 15px;
  top: $header-height;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;
}
.categories__list {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  max-width: $desktop-width;
  margin: 0 auto;
  overflow-x: auto;

  li {
    text-align: center;
    border: 2px solid $gray-1;
    border-radius: 20px;
    transition: ease 0.25s;

    a {
      display: inline-block;
      padding: 11px 22px;
      min-width: fit-content;
      width: 100%;
      @include text;
      white-space: nowrap;
    }
    a:hover {
      color: $black;
    }
  }
  li:not(:last-of-type) {
    margin-right: 15px;
  }
  li:hover {
    border-color: $gray-2;
  }
  li.active {
    border-color: $primary;
  }
}

@media (max-width: 1280px) {
  .categories__list {
    padding-left: $padding-over-1200;
    padding-right: $padding-over-1200;
  }
}
@media (max-width: 1200px) {
  .categories {
    top: 54px;
  }
}
@media (max-width: 640px) {
  .categories {
    top: 120px;
  }
}
@media (max-width: 530px) {
  .categories__list {
    padding-left: $padding-less-1200;
    padding-right: $padding-less-1200;
  }
}
