@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $desktop-width;
  margin: 0 auto;
  padding: $padding-less-1200 0;

  & > div {
    display: flex;
    align-items: center;

    .header__phone,
    .button {
      margin-right: 20px;
    }
    .button {
      padding: 0;
      @include big-text;
      color: $primary;
      margin-right: 20px;

      svg {
        width: 30px;
        height: 30px;
      }
      path {
        transition: ease 0.2s;
      }
    }
    .button:hover {
      opacity: 1;

      path {
        stroke: $primary;
      }
    }
  }
}
.header__phone {
  @include big-text;
  color: $secondary;
}
.header__cart {
  position: relative;

  path,
  .header__cart-count {
    transition: ease 0.2s;
  }
  &:hover {
    path {
      stroke: $primary;
    }
    .header__cart-count {
      color: $primary;
    }
  }
  a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  svg {
    width: 30px;
    height: 30px;
  }
}
.header__cart-count {
  position: absolute;
  right: -0.5em;
  bottom: -0.5em;
  @include text;
  color: $secondary;
}

@media (max-width: 1280px) {
  .header__container {
    padding-left: $padding-over-1200;
    padding-right: $padding-over-1200;
  }
}
@media (max-width: 1200px) {
  .header {
    height: 54px;
  }
  .header__container {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media (max-width: 640px) {
  .header {
    height: 120px;
  }
  .header__container {
    align-items: center;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header__logo {
    margin-bottom: $margin-less-1200;
  }
}
